html, body{
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.94;
  text-align: center;
}

a {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
}
/*____________________________________________________________________________*/
header {
  border-bottom: 1px solid seashell;
  height: 69px;
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  background-color: black;
}

.logo img{
  margin-left: 10px;
  height: 50px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  margin-right: 10px;
}

nav span {
  display: inline-block;
}
/*____________________________________________________________________________*/
.page1-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 69px;
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
}

.page1-banner {
  background-color: black;
  width: 100%;
  text-align: center;
}
/*____________________________________________________________________________*/
.page2-container {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 55px auto;
}

.page2-title {
  width: 100%;
  text-align: center;
  height: 140px;
}

.tea-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.tea {
  width: 300px;
  margin: 0 15px;
}

.tea img {
  height: 200px;
  width: 300px;
  margin: 10px auto;
}
/*____________________________________________________________________________*/
.page3 {
  margin: 0 auto;
  padding-top: 70px;
  height: 500px;
  width: 1200px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
}

.page3 h2 {
  padding: 10px;
  height: 40px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding-top: 5px;
}
.box-container .box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
  background-color: black;
  text-align: center;
  margin: 5px 20px;
}

/*____________________________________________________________________________*/
.contact {
  height: 200px;
  text-align: center;
}
/*____________________________________________________________________________*/
  footer {
    margin-left: 20px;
    float: left;
  }
